<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{ jenkins_master_email | e }}</adminAddress>
  <jenkinsUrl>{{ jenkins_master_url | e }}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
