<?xml version='1.0' encoding='UTF-8'?>
<org.jvnet.hudson.plugins.thinbackup.ThinBackupPluginImpl plugin="thinBackup@1.7.4">
  <fullBackupSchedule>H 3 * * *</fullBackupSchedule>
  <diffBackupSchedule></diffBackupSchedule>
  <backupPath>/opt/jenkins_backup</backupPath>
  <nrMaxStoredFull>30</nrMaxStoredFull>
  <excludedFilesRegex></excludedFilesRegex>
  <waitForIdle>false</waitForIdle>
  <forceQuietModeTimeout>120</forceQuietModeTimeout>
  <cleanupDiff>false</cleanupDiff>
  <moveOldBackupsToZipFile>true</moveOldBackupsToZipFile>
  <backupBuildResults>true</backupBuildResults>
  <backupBuildArchive>false</backupBuildArchive>
  <backupUserContents>true</backupUserContents>
  <backupNextBuildNumber>false</backupNextBuildNumber>
  <backupBuildsToKeepOnly>false</backupBuildsToKeepOnly>
</org.jvnet.hudson.plugins.thinbackup.ThinBackupPluginImpl>ß
